<%= simple_form_for(@post, :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title, :hint => "title" %>
    <%= f.input :body %>
    <%= f.input :publication %>
    <%= f.input :enabled %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
